# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languagaes that Data Scientists use are:**

1. Python
2. R
3. Julia

**Some of the commonly used libraries used by Data Scientists include:**

1. Scikit Learn
2. Tensor Flow
3. Keras

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio|
|Zeppelin|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200

hours = minutes/60

print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- List popular IDEs for Data Science
- List common Data Science libraries

## Author

Anirbed